version: '3'
services:
  9c-headless:
    image: planetariumhq/ninechronicles-headless:git-14ca945556bc0008711226e6a35e37f0534b440a
    command:
      - "--app-protocol-version=1000/5616aAE462952937f72c64180310d56E2DBE51F6/MEQCICpMk84Aw51KDop882iA5YC6PJpMTjoIEWnMpC8hDQljAiBrxmUFKv1oHf0og+HrwJ2qIZ7e9aHcHmRp.pmycKJ8JA=="
      - "--network-type=default"
      - "--host=localhost"
      - "--graphql-server"
      - "--graphql-port=8000"
      - "--store-type=rocksdb"
      - "--store-path=/tmp"
      - "--no-cors"
      - "--miner-private-key=42e08b93f63f73de77c1214e56e331fa6d1a02a4f236dc8d1b1de894992387c9"  # Address = 0xEC924810E0ad21CD8707a466F19d803d2F1d56c5
      - "--consensus-private-key=42e08b93f63f73de77c1214e56e331fa6d1a02a4f236dc8d1b1de894992387c9"
      - "--consensus-seed=033b805105b2a452495e82d44cc95d8f6ebf700f90abdc5647e38fca1051c9a88c,localhost,35353"
      - "--consensus-port=35353"
      - "--consensus-target-block-interval=1000"
      - "-G=https://9c-dx.s3.ap-northeast-2.amazonaws.com/empty-genesis-block-20230522"  # Set `NCG_MINTER="0x28d80242290EB305C996A89F8D8A3707f7b6bc28"` in .env file.
    ports:
      - 8000:8000
